<div class="flex-1 overflow-y-auto bg-gray-950 p-4 lg:p-8">
  <div class="mb-2">
    <.flash :if={Phoenix.Flash.get(@flash, :info)} kind={:info}>
      {Phoenix.Flash.get(@flash, :info)}
    </.flash>
    <.flash :if={Phoenix.Flash.get(@flash, :error)} kind={:error}>
      {Phoenix.Flash.get(@flash, :error)}
    </.flash>
  </div>
  {@inner_content}
</div>
