<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<div class="h-screen w-screen overflow-hidden bg-gray-950">
  <.flash_group flash={@flash} />
  {@inner_content}
</div>
